

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-info">
            <div class="content">
                 <h2>Congratulations</h2> 
                 <p>You have Successfully registered with us.</p> 
                 <p> To <strong> ACTICATE YOUR ACCOUNT, </strong > <br>click on the link sent to your email{{this.data}} </p>  
                 <p>You can close this page</p>
            </div>
        </div>
    </div>
    <style>
      .card {
      width: 500px;
      position: fixed;
      border: 1px solid white;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      margin-top: 160px;
      margin-left: 600px
    }
    h2{
        color: green;
        margin-top: 100px;
    }
    </style>
</body>
</html>
